<button id="cart-drawer-toggle" class="cart-counter cart-item-counter">
  {{ 'header.cart' | t }}
  <span class="left">﹙</span><span id="cart-item-counter">{{ cart.item_count }}</span><span class="right">﹚</span>
</button>
