{{ 'snippet-citizens-base-text.css' | asset_url | stylesheet_tag }}

<section class="citizens-base-text">
  <div class="citizens-base-text__inner wysiwyg">
    {{ settings[0].html }}
  </div>
</section>
