<a href="{{ settings.url }}" class="featured-collection-artwork">
  <article class="featured-collection-artwork__inner">
    <div class="image-holder">
      {% if settings.image != blank %}
        {{
          settings.image
          | image_url: width: original
          | image_tag: sizes: '(min-width: 750px) calc(100vw - 22rem), 1920px', class: 'image-holder__image'
        }}
      {% endif %}
    </div>
  </article>
</a>

<style>
  .featured-collection-artwork .image-holder {
    height: {{ settings.collection_artwork_height }}
  }

  @media only screen and (max-width: 600px) {
    .text-card {
      display: {% if settings.show_mobile == false %}none{% else %}unset{% endif %}
    }
  }
</style>
