{{ 'section-blog-hero.css' | asset_url | stylesheet_tag }}

<div class="blog-hero__inner">
  <div class="image-holder">
    {% if section.settings.image != blank %}
      {{
        section.settings.image
        | image_url: width: original
        | image_tag: sizes: '(min-width: 750px) calc(100vw - 22rem), 1920px', class: 'image-holder__image'
      }}
    {% endif %}
  </div>
  <div class="text-holder">
    {% if section.settings.name != blank %}
      <h2 class="text-holder__title">{{ section.settings.name }}</h2>
    {% endif %}
    {% render 'icon-down' %}
  </div>
</div>

{% schema %}
{
  "name": "Blog hero",
  "tag": "section",
  "class": "blog-hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "name",
      "label": "Name"
    }
  ]
}
{% endschema %}
