{{ 'section-main-order.css' | asset_url | stylesheet_tag }}

<div class="main-order__inner">

</div>
<!-- end .main-order__inner -->

{% schema %}
{
  "name": "Main order",
  "tag": "section",
  "class": "main-order",
  "settings": []
}
{% endschema %}
