{{ 'section-main-cart.css' | asset_url | stylesheet_tag }}

<div class="main-cart__inner">

</div>
<!-- end .main-cart__inner -->

{% schema %}
{
  "name": "Main cart",
  "tag": "section",
  "class": "main-cart"
}
{% endschema %}
