{{ 'section-main-addresses.css' | asset_url | stylesheet_tag }}

<div class="main-addresses__inner">

</div>
<!-- end .main-addresses__inner -->

{% schema %}
{
  "name": "Main addresses",
  "tag": "section",
  "class": "main-addresses"
}
{% endschema %}
