{{ 'section-main-password.css' | asset_url | stylesheet_tag }}

<div class="main-password__inner">

</div>
<!-- end .main-password__inner -->

{% schema %}
{
  "name": "Main password",
  "tag": "section",
  "class": "main-password",
  "settings": []
}
{% endschema %}
