{{ 'section-main-reset-password.css' | asset_url | stylesheet_tag }}

<div class="main-reset-password__inner">

</div>
<!-- end .main-reset-password__inner -->

{% schema %}
{
  "name": "Main reset password",
  "tag": "section",
  "class": "main-reset-password",
  "settings": []
}
{% endschema %}
