{{ 'section-main-account.css' | asset_url | stylesheet_tag }}

<div class="main-account__inner">

</div>
<!-- end .main-account__inner -->

{% schema %}
{
  "name": "Main account",
  "tag": "section",
  "class": "main-account"
}
{% endschema %}
