{{ 'section-main-register.css' | asset_url | stylesheet_tag }}

<div class="main-register__inner">

</div>
<!-- end .main-register__inner -->

{% schema %}
{
  "name": "Main register",
  "tag": "section",
  "class": "main-register",
  "settings": []
}
{% endschema %}
