{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

<div class="main-blog__inner">

</div>
<!-- end .main-blog__inner -->

{% schema %}
{
  "name": "Main blog",
  "tag": "section",
  "class": "main-blog"
}
{% endschema %}
