{{ 'section-main-article.css' | asset_url | stylesheet_tag }}

<div class="main-article__inner">

</div>
<!-- end .main-article__inner -->

{% schema %}
{
  "name": "Main article",
  "tag": "section",
  "class": "main-article"
}
{% endschema %}
