{{ 'section-main-activate-account.css' | asset_url | stylesheet_tag }}

<div class="main-activate-account__inner">

</div>
<!-- end .main-activate-account__inner -->

{% schema %}
{
  "name": "Main activate account",
  "tag": "section",
  "class": "main-activate-account",
  "settings": []
}
{% endschema %}
