{{ 'section-support-default.css' | asset_url | stylesheet_tag }}

<div class="support-default__inner">
  {% assign content = page.content | split: 'split-columns' %}
  {% for column in content %}
    <div class="content-holder wysiwyg">
      {{ column }}
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Support default",
  "tag": "section",
  "class": "support-default"
}
{% endschema %}
