{{ 'section-support-default.css' | asset_url | stylesheet_tag }}

<div class="support-default__inner">
  <div class="title-holder">
    <h1>{{ page.title }}</h1>
  </div>
  {{ page.content }}
</div>

{% schema %}
{
  "name": "Support default",
  "tag": "section",
  "class": "support-default"
}
{% endschema %}
